// Accordion component overrides.

// Override title styles.
@mixin hook-accordion-title() {
	font-weight: 500;
	text-transform: uppercase;

	overflow: hidden;

	// I used masks to apply the color to the SVGs.
	&::before {
		content: "";
		width: ($accordion-title-line-height * 1em);
		height: ($accordion-title-line-height * 1em);
		float: right;
		background-color: $global-primary-background;
    -webkit-mask-image: url($internal-accordion-close-image);
    mask-image: url($internal-accordion-close-image);
		-webkit-mask-position: center;
		mask-position: center;
	}

	.uk-open > &::before {
		-webkit-mask-image: url($internal-accordion-open-image);
		mask-image: url($internal-accordion-open-image);
	}
}
