// Accordion component overrides.

// @TODO: Figure out why hooks wouldn't work here.
.uk-accordion-title {
	font-family: "Montserrat";
	font-weight: 500;
    text-transform: uppercase;

    &:before {
    	//background-image: url('~/uikit/src/images/icons/heart.svg') !important;

    	.uk-open & {
    	
    	}
    }
}