// Overriding variables for accordion component.
// TODO: Add color fill for SVGs, prob need to regen URIs.
$internal-accordion-open-image: "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cpath d='M38 26H10v-4h28v4z'/%3E%3C/svg%3E" !default;
$internal-accordion-close-image: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4Ij48cGF0aCBkPSJNMzggMjZIMjZ2MTJoLTRWMjZIMTB2LTRoMTJWMTBoNHYxMmgxMnY0eiIvPjwvc3ZnPg==" !default;
$accordion-icon-color: $global-primary-background;
