// Override all variables having to do with navigation here.

// Nav items, particularly in mobile.
$nav-primary-item-font-size: 1.25em;
$nav-primary-item-color: $global-primary-background;
$nav-primary-item-hover-color: $global-secondary-background;

// Navbar elements.
$navbar-background: rgba($monet-white, .95);
