// Override all variables having to do with navigation here.

$nav-primary-item-font-size: 1.25em;
$nav-primary-item-color: $global-primary-background;
$nav-primary-item-hover-color: $global-secondary-background;
