// _variables.scss
// Define variables and override UIKit variables.

// Define colors.
$monet-teal: #008198 !default;
$monet-gold: #CFAB42 !default;
$monet-pale-grey: #D8D8D8 !default;
$monet-dark-grey: #595959;
$monet-white: #FFFFFF;

$monet-colors: (
  teal: $monet-teal,
  gold: $monet-gold,
  pale-grey: $monet-pale-grey,
  dark-grey: $monet-dark-grey,
  white: $monet-white
);

$monet-alt-colors: (
  teal: $monet-teal,
  gold: $monet-gold,
  pale-grey: $monet-pale-grey,
  dark-grey: $monet-dark-grey,
  white: $monet-white
);

// Overriding UIKit variables.
$global-primary-background: $monet-teal;
$global-font-family: "Montserrat", Arial, sans-serif !default;

$internal-accordion-open-image: "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cpath d='M38 26H10v-4h28v4z'/%3E%3C/svg%3E" !default;
$internal-accordion-close-image: "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22#000%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%3C%2Fsvg%3E" !default;
$accordion-icon-color: $global-primary-background;
